.card {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.1em 0.5em;
    margin-bottom: 2em;
    width: 23%;
    border-radius: 2em;
    border: 2px solid #e33d33;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, .4);
    background-color: rgba(34, 34, 34, .8);
    color: #fff;
    transition: .6s;

}

.card:after{
    content: "";
    height: 10px;
    position: absolute;
    top: 390px;
    width: 100%;
}

.card:hover {
    transition: .6s;
    transform: scale(1.02);
  }

  .card .img {
    transition: .3s;
  }

.card:hover .img {
    transition: .3s;
    transform: translateY(0) scale(1.3);
}

.card .id {
    margin: 1em 0;
    background-color: #e33d33;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .title {
    text-transform: capitalize;
    margin-bottom: 1em;
    font-size: 1.4em;
}



.hidden_true {
    display: none;
    
}

.hidden_false {
    display: block;
}


