.container {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

.card {
  width: 35%;
  border-radius: 2em;
  border: 2px solid #e33d33;
  box-shadow: 5px 5px 12px rgba(0, 0, 0, .4);
  background-color: rgba(34, 34, 34, .8);
  color: #fff;
}

.title {

    font-size: 2.5em;
    text-transform: capitalize;
    color: #fff;
    padding-bottom: 0.3em;
    margin: 0.4em auto;
    margin-bottom: 0.4 !important;
    width: fit-content;
}

.title span {
    font-size: 50% !important;
    background-color: #e33d33;
    border-radius: 5px;
    padding: 3px;
    color: #fff;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}

.data_container {
  font-size: 15pt;
}


.arrow {
  cursor: pointer;
  height: 6%;
  width: 6%;
  margin: 10%;
  transition: .5s;
}

.arrow:hover {
  fill: #e33d33;
  transition: .5s;
}

.lazy_load {
  position: relative;
}

.loading {
  position: absolute;
  margin-top: 30vh;
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
}

.type {
    padding: .6em 1em;
    color: #fff;
    background-color: #333;
    margin-right: .5em;
    margin-top: .8em;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: .8em;
}

.type_normal {
    background-color: #aa9;
  }
  
  .type_fire {
    background-color: #f42;
  }
  
  .type_water {
    background-color: #39f;
  }
  
  .type_eletric {
    background-color: #fc3;
  }
  
  .type_grass {
    background-color: #7c5;
  }
  
  .type_ice {
    background-color: #6cf;
  }
  
  .type_fighting {
    background-color: #b54;
  }
  
  .type_poison {
    background-color: #a59;
  }
  
  .type_ground {
    background-color: #db5;
  }
  
  .type_flying {
    background-color: #89f;
  }
  
  .type_psychic {
    background-color: #f59;
  }
  
  .type_bug {
    background-color: #ab2;
  }
  
  .type_rock {
    background-color: #ba6;
  }
  
  .type_ghost {
    background-color: #66b;
  }
  
  .type_dragon {
    background-color: #76e;
  }
  
  .type_dark {
    background-color: #754;
  }
  
  .type_steel {
    background-color: #aab;
  }
  
  .type_fairy {
    background-color: #e9e;
  }
  
  .data_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5em;
    color: #fff;
  }
  
  .data_container div {
    margin: 1em 0;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  